---
layout: page
title: Words
permalink: /words/
---

<div class="archive">
<!--  <h2>Editing Posts</h2> -->
  <ul>
    {% for post in site.posts %}
      {% assign path_parts = post.path | split: '/' %}
      
      {% comment %}
        Check if the folder name (index 1) is strictly "words"
      {% endcomment %}
      {% if path_parts.size >= 3 and path_parts[1] == 'words' %}
        <li>
          <span class="post-date" style="display: inline;">{{ post.date | date: "%b %d, %Y" }}</span> - 
          {% if post.external_url %}
            <a href="{{ post.external_url }}">{{ post.title }}</a> <a href="{{ post.url | relative_url }}" title="Permalink">&#8776;</a>
          {% else %}
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>