---
layout: page
title: Words
permalink: /words/
---

<div class="archive">
<!--  <h2>Editing Posts</h2> -->
  <ul>
    {% for post in site.posts %}
      {% assign path_parts = post.path | split: '/' %}
      
      {% comment %}
        Check if the folder name (index 1) is strictly "words"
      {% endcomment %}
      {% if path_parts.size >= 3 and path_parts[1] == 'words' %}
        <li>
          <span class="post-date" style="display: inline;">{{ post.date | date: "%b %d, %Y" }}</span> - 
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>